# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/.idea.Rhythm_In.iml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\hhj32\Desktop\Git_Unity_Rhythm_In\Unity_Rhythm_In\Rhythm_In\.idea\.idea.Rhythm_In\.idea/dataSources/
/dataSources.local.xml
